<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Welcome</title>
</head>
<body>
	<h1>Welcome page from views</h1>
	<p>some text {{text}}</p>
	<input type="button" id="batch1" value="{{getBatchNumber 1 6}}" onclick="{{callFunction}}"></input>
	<button>Batch 2</button>
	<button>Batch 3</button>
</body>
</html>
